<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hbc.api.mapper.YdCallDetailClientMapper" >
	<resultMap id="BaseResultMap" type="com.hbc.api.model.YdCallDetailClient" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="start_time" property="startTime" jdbcType="VARCHAR" />
		<result column="comm_plac" property="commPlac" jdbcType="VARCHAR" />
		<result column="comm_mode" property="commMode" jdbcType="VARCHAR" />
		<result column="each_other_nm" property="eachOtherNm" jdbcType="VARCHAR" />
		<result column="comm_time" property="commTime" jdbcType="VARCHAR" />
		<result column="comm_time_h5" property="commTimeH5" jdbcType="VARCHAR" />
		<result column="comm_type" property="commType" jdbcType="VARCHAR" />
		<result column="meal_favorable" property="mealFavorable" jdbcType="VARCHAR" />
		<result column="comm_fee" property="commFee" jdbcType="DOUBLE" />
	</resultMap>
	<sql id="Base_Column_List" >
		id, start_time, comm_plac, comm_mode, each_other_nm, comm_time,comm_time_h5,comm_type,meal_favorable,comm_fee
	</sql>
	<select id="getListByCallId" resultMap="BaseResultMap" parameterType="java.util.List" >
		select
		<include refid="Base_Column_List" />
		from yd_call_detail_client
		where call_id IN
		<foreach collection="list" item="callIds"  open="(" separator="," close=")">
			#{callIds}
		</foreach>
		ORDER BY  start_time desc
	</select>

	<select id="findNewData"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select * from yd_call_detail_client where id>#{id,jdbcType=TINYINT}
	</select>

</mapper>